<!DOCTYPE html>
<html>
  <head>
    <style></style>
    <link type="text/css" rel="stylesheet" href="rottenTomatoes.css">
    <script type="text/javascript" data-main="rottenTomatoesBackbone" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
  </head>
  <body>
    <div id="loading">
      Loading data
    </div>
    <div id="chart">
    </div>
    <div>
      <h3>Rotten Tomatoes scores of movies currently in theatres</h3>
      <ul id="variables">
        <script id="variableTemplate" type="text/template">
          <label>
            <input type="radio" name="selectedVariableId" value="<%= id %>" class="variable" />
            <%= label %>
          </label>
        </script>
      </ul>
    </div>
  </body>
</html>
