<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="rottenTomatoesAngular.css">
    <script type="text/javascript" data-main="rottenTomatoesAngular" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>    
  </head>
  <body ng-app="rottenTomatoesApp">
    <div id="loading" ng-controller="LoadingCtrl">
      Loading data{{loader}}
    </div>
    <div id="chart" ng-controller="ChartCtrl">
    </div>
    <div id="variables" ng-controller="VariableListCtrl">
      <h3>Rotten Tomatoes scores of movies currently in theatres</h3>
      <ul>
        <li ng-repeat="variable in variables">
          <input type="radio" ng-value="{{variable.id}}" ng-model="variableRadios" />
          <label for="{{variable.id}}">{{variable.label}}</label>
        </li>
      </ul>
    </div>
  </body>
</html>
