<!DOCTYPE html>
<html>
  <head>
    <style>.ng-cloak { display:none; }</style>
    <link type="text/css" rel="stylesheet" href="rottenTomatoes.css">
    <script type="text/javascript" data-main="rottenTomatoesAngular" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
  </head>
  <body ng-app="rottenTomatoesApp">
    <div id="loading" ng-controller="LoadingCtrl" ng-bind="loader">
      Loading data
    </div>
    <div id="chart" ng-controller="ChartCtrl">
    </div>
    <div id="variables" ng-controller="VariableListCtrl">
      <h3>Rotten Tomatoes scores of movies currently in theatres</h3>
      <ul>
        <li ng-repeat="(id, variable) in variables" class="ng-cloak">
          <label>
            <input type="radio" ng-model="$parent.selectedVariable.id" name="selectedVariableId" ng-value="id" />
            <span ng-bind="variable.label"></span>
          </label>
        </li>
      </ul>
    </div>
  </body>
</html>
