#canvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#hud{
    position: absolute;
    top: 0;
    left: 0;
}
#current-level{
    position: absolute;
    top: 0;
    left: 0;
}
#lives-left{
    position: absolute;
    top: 0;
    right: 0;
}
#help{
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
}
#text{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

#game{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 320px;
    background-color: white;
}

.ceiling{
    background-color: black;
    position: absolute;
    height: 10px;
    width: 320px;
    left: 0;
}

.hole{
    background-color: white;
    width: 32px;
    height: 10px;
    position: absolute;
}
.critter{
    background-color: red;
    width: 16px;
    height: 30px;
    position: absolute;
}

.player{
    width: 20px;
    height: 30px;
    position: absolute;
    z-index:50;
    background-image: url('spritesheet_3_tr.png');
    background-position: -10px -6px;
}
.player.jumping{
    background-position: -120px -222px;
}
.player.falling{
    background-position: -120px -222px;
}
.player.stunned{
    background-position: -152px -222px;
}
.player.falling.stunned{
    background-position: -6px -334px;
}
.player.left{
    background-position: -45px -222px;
}
.player.right{
    background-position: -79px -222px;
}


